  @media screen and (max-width: 450px) {

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }


    table td {
      font-size: .8em;
      text-align: right;

      justify-content: space-between;
      display: flex;
      width: 100%;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }


  }

/*
  .tableStyle {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  */